<% include url_helper %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form action="/users" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="user[name]" id="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="user[email]" id="email" required>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" name="user[gender]" id="gender" required>
    </div>
    <div class="form-group">
      <label for="date_of_birth">Date of Birth</label>
      <input type="date" class="form-control" name="user[date_of_birth]" id="date_of_birth" required>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" name="user[city]" id="city" required>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" name="user[country]" id="country" required>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea class="form-control" name="user[address]" id="address" required></textarea>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="user[password]" id="password" required>
    </div>
    <div class="form-group">
      <label for="password_confirmation">Confirm Password</label>
      <input type="password" class="form-control" name="user[password_confirmation]" id="password_confirmation" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <%= link_to "Login", login_path, class: "btn btn-secondary" %>  </form>
</body>
</html>
